* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #292929;
    font-size: 16px;
    color: #802C2C;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: 100vh;
}


/* buttons */
.btn {
    border: 1px rgba(128, 44, 44, 0.12) solid;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #ffffff;
}

.btn:hover {
    background-color: rgba(128, 44, 44, 0.08);
}


/* index page */

/* #account-opt {

} */

/* logo and description in the center of index */
#main-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#main-logo p {
    position: relative;
    top: -20px;
    color: #ffffff;
    background-color: rgba(99, 33, 33, 0.1);
}

#main-logo img {
    width: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    opacity: 60%;
}


/* buttons of menu choice */
#menus-choice {
    position: relative;
    
    display: flex;
    top: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.menus-btn {
    min-width: 150px;
    text-align: center;
}