* {
    margin: 0;
    padding: 0;
}

button {
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-bottom: 1px;
    padding: 7px 0;
    width: 100%;
}

button:hover {
    background-color: #362929;
}

body {
    background-color: #292929;
    font-size: 16px;
    color: #802C2C;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 15px;
}

li {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 7px 0;
    list-style: none;
    text-align: left;
}

p span {
    position: absolute;
    display: inline;
    right: 0;
}

hr {
    border: 0;
    height: 1px;
    background-color: #802C2C;
}

.sheet {
    background-color: #2F2F2F;
    color: #ffffff;
    box-shadow: 0 4px 3px rgba(0,0,0,0.5);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    padding: 5px 10px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}


/* buttons and links*/
a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #ffffff;
}

/* .btn {
    margin-bottom: 1px;
    padding: 7px 0;
}

.btn:hover {
    background-color: #362929;
} */

/* main content */

#container div {
    box-sizing: border-box;
    /* border: 1px #802C2C solid; */
}

#search-bar {
    flex-basis: 50%;
    height: 10vh;
}

#filters {
    flex-basis: 30%;
    height: 10vh;
}

#account-opt {
    flex-basis: 20%;
    height: 10vh;
}

#categories {
    flex-basis: 20%;
    height: 80vh;
    border: #802C2C 1px solid;
}

#dishes {
    flex-basis: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: #802C2C 1px solid;
}

.dish {
    box-sizing: border-box;
    padding: 5px 10px;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around; 
}


.dish div {
    flex-grow: 1;
    align-self: center;
}

.dish-name {
    text-align: left;
}

.dish-amount-price {
    font-size: 0.7rem;
    text-align: right;
    
}

.dish-ingredient {
    text-align:  left;
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 3px;
    flex-basis: 90%;
}

.dish-add {
    text-align: right;
    padding: 0 5px;
}

.dish-add:hover a {
    color: #802C2C;
}

/* small container to allign two last items */
#small-container {
    flex-basis: 20%;
    height: 80vh;
}

#info-img {
    height: 20vh;
    border: #802C2C 1px solid;
}

#summary-extras {
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: 1px #802C2C solid;
    position: relative;
}

#summary-extras div {
    box-sizing: border-box;
    margin: 4px;
}

.summary {
    flex-grow: 2;
    flex-basis: 90%;
    height: 70%;
}

.count-basket span {
    position: relative;
    float: right;
}

.similar-btn {
    flex-grow: 1;
    flex-basis: 45%;
    height: 25%;
    margin: 4px;
}

.basket-btn {
    flex-grow: 1;
    flex-basis: 45%;
    height: 25%;
    margin: 4px;
}

.basket {
    flex-grow: 2;
    flex-basis: 90%;
    height: 70%;
    z-index: 1;
    position: absolute;
    width: 96%;
    display: none;
    padding: 0;
}

.dish-in-basket {
    /* margin: 1px; */
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;
}

.dish-in-basket div {
    flex-grow: 1;
}