{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wybierz menu</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <div id="account-opt"></div>

        <div id="main-logo">
            <img src="{% static 'img/sushi.svg' %}">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor...
            </p>
        </div>

        <nav id="menus-choice">
            {% for menu in menus %}
                <div class="menus btn">{{ menu }}</div>
            {% endfor %}
        </nav>
    </div>
</body>
</html>