{% extends 'menu/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock head %}

{% block content %}
    <div id="container">
        <div id="account-opt"></div>

        <div id="main-logo">
            <img src="{% static 'img/sushi.svg' %}">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor...
            </p>
        </div>

        <nav id="menus-choice">
            {% for menu in menus %}
            <div class="menus-btn btn"><a href="{% url 'menu:menu' menu.pk %}">{{ menu }}</a></div>
            {% endfor %}
        </nav>
    </div>
{% endblock content %}


