{% extends 'menu/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <script src="https://kit.fontawesome.com/ef5689f1f5.js" crossorigin="anonymous"></script>

{% endblock head %}

{% block content %}
    <div id="container">
        <div id="search-bar">1</div>

        <div id="filters">2</div>

        <div id="account-opt">3</div>

        <div id="categories">
            {% for category in categories %}
                <a href="{% url 'menu:menu' menu_pk=menu.pk category_pk=category.pk dish_pk=0 quantity=0 show_basket=show_basket %}"><button class="category sheet">{{ category }}</button></a>
            {% endfor %}
        </div>

        <div id="dishes">
            {% for dish in dishes %}
                <button class="dish sheet">
                    <div class="dish-name">
                        {% if dish.is_available == False %}
                            <span><s style="color:rgba(128, 44, 44, 0.2)">{{ dish }}</s></span>
                        {% else %}
                            <span style="color:#ffffff;">{{ dish.name }}</span>
                        {% endif %}
                    </div>
                    <div class="dish-amount-price">
                        {% if dish.is_available == False %}
                            <span><s style="color:rgba(128, 44, 44, 0.2)">{{ dish.amount }}szt {{ dish.price }}zł</s></span>
                        {% else %}
                            <span>{{ dish.amount }}szt {{ dish.price }}zł</span>
                        {% endif %}
                    </div>      
                    <div class="dish-ingredient">
                        {% for ingredient in dish.ingredients.all %}
                            {% if ingredient.is_available == False %}
                                <span><s style="color:rgba(128, 44, 44, 0.2)">{{ ingredient }},</s></span>
                            {% else %}
                                {% if dish.is_available == False %}
                                    <span><s style="color:rgba(128, 44, 44, 0.2)">{{ ingredient }},</s></span>
                                {% else %}
                                    <span>{{ ingredient }},</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="dish-add">
                        {% if dish.is_available == True %}
                            <span><a href="{% url 'menu:menu' menu_pk=menu.pk category_pk=category.pk dish_pk=dish.pk quantity=1 show_basket=show_basket %}">+</a></span>
                        {% endif %}
                    </div>
                </button>
            {% endfor %}
        </div>

        <div id="small-container">
            <div id="info-img">6</div>
            <div id="summary-extras">
                <div class="summary sheet">
                    <h1>Podsumowanie:</h1>
                    <ul>
                        <li>
                            <p class="count-basket">ilość potraw:<span>{{ count_dishes }}</span></p><hr>
                        </li>
                        <li>
                            <p class="count-basket">liczba sztuk:<span>{{ count_pieces }}</span></p><hr>
                        </li>
                        <li>
                            <p class="count-basket">zestaw dla ok:<span>{{ count_portion }} x <i class="fas fa-male"></i></span></p><hr>
                        </li>
                        <li>
                            <p class="count-basket">cena:<span>{{ count_costs }}zł</span></p><hr>
                        </li>
                    </ul>
                </div>
                <a href="#">
                    <button class="similar-btn sheet">Podobne</button>
                </a>
                
                
                {% if show_basket == "True" %} {# hide basket if its displayed #}
                    <a href="{% url 'menu:menu' menu_pk=menu.pk category_pk=category.pk dish_pk=dish_pk quantity=0 show_basket=False %}">
                        <button class="basket-btn sheet">Koszyk</button>
                   </a>
                    <style>
                        .basket {
                            display: block;
                        }
                    </style>

                {% else %}
                    <a href="{% url 'menu:menu' menu_pk=menu.pk category_pk=category.pk dish_pk=dish_pk quantity=0 show_basket=True %}">
                        <button class="basket-btn sheet">Koszyk</button>
                    </a>
                    <style>
                        .basket {
                            display: none;
                        }
                    </style>
                {% endif %}
                
                

                <div class="basket sheet">
                    {% for dish in dishes_in_basket %}
                        <button class="dish-in-basket sheet">
                            <div class="dish-name">{{ dish }}</div>
                            <div class="dish-amount-price">{{ dish.quantity }}szt</div>
                            <div class="dish-add"><a href="#">+</a></div>
                            <div class="dish-remove"><a href="#">-</a></div>
                        </button>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/javascript.js' %}""></script> {% endcomment %}
{% endblock content%}