{% extends 'menu/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
{% endblock head %}

{% block content %}
    <div id="container">
        <div id="search-bar">1</div>

        <div id="filters">2</div>

        <div id="account-opt">3</div>

        <div id="categories">
            {% for category in categories %}
                <a href="{% url 'menu:menu' menu.pk category.pk %}"><div class="category sheet btn">{{ category }}</div></a>
            {% endfor %}
        </div>

        <div id="dishes">
            {% for dish in dishes %}
                <div class="dish sheet btn">
                    <div class="dish-name">
                        {% if dish.is_available == True %}
                            {{ dish }} 
                        {% else %}
                            <style>
                                .dish:nth-child({{ dish.pk }}) {color:rgba(128, 44, 44, 0.2);}
                            </style>
                            <s>{{ dish }}</s>
                            
                        {% endif %}
                    
                    </div>
                    <div class="dish-amount-price">{{ dish.amount }}szt {{ dish.price }}zł</div>      
                    <div class="dish-ingredient">
                        {% for ingredient in dish.ingredients.all %}
                            {% if ingredient.is_available == True %}
                                {{ ingredient }}, 
                            {% else %}
                                <s style="color:rgba(128, 44, 44, 0.2)">{{ ingredient}}</s>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="dish-add">
                        {% if dish.is_available == True %}
                                + 
                        {% else %}
                            <style>
                                .dish:nth-child({{ dish.pk }}) {color:rgba(128, 44, 44, 0.2);}
                            </style>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>

        <div id="small-container">
            <div id="info-img">6</div>
            <div id="summary-extras">
                <div class="summary sheet">
                    <h1>Podsumowanie:</h1>
                    <ul>
                        <li>
                            <p>ilość potraw<span>5</span></p><hr>
                            
                        </li>
                        <li>
                            <p>liczba sztuk</p><hr>
                        </li>
                        <li>
                            <p>zestaw dla</p><hr>
                        </li>
                        <li>
                            <p>cena</p><hr>
                        </li>
                    </ul>
                </div>
                <div class="similar sheet btn"></div>
                <div class="basket sheet btn"></div>
            </div> 
        </div>
    </div>
{% endblock content%}